@media (max-width: 739px) {
    #header a{
        font-size: 20px;
        text-decoration: none;
        padding: 15px;
        color: #fff;
    }

    .mon-dia {
        font-size: 20px;
    }
    
}